[Unit]
Description=Pdiiif
StartLimitBurst=5
StartLimitIntervalSec=120
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/leidenuniversitylibrary/pdiiif:staging
ContainerName=ubl-pdiiif
Environment=CFG_PORT=8082
Environment=CFG_HOST=0.0.0.0
Network=pdiiif-default.network
PublishPort=8082:8082
AddCapability=CAP_SYS_ADMIN
SeccompProfile=unconfined

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

